@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", "Roboto", sans-serif;
}

.h-30 {
    height: 30px;
}

.w-30 {
    width: 30px;
}

.hover-op:hover {
    opacity: 0.8;
}