{% extends 'base_accounts.html' %}

{% block title %} Sign up to Django Boards {% endblock title %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card-body">
                <h3 class="card-title">Sign up</h3>
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% include 'includes/form.html' %}
                    <button 
                        type="submit" 
                        class="btn btn-success btn-block">
                            Create an account
                    </button>
                </form>
            </div>
            <div class="text-muted text-center mb-2">
                Already have an account? <a class="text-decoration-none" href="#">Log in</a>
            </div>
        </div>
    </div>
{% endblock content %}