{% extends 'base.html' %}

{% load static %}

{% block title %} {{ topic.subject }} {% endblock title %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
    <li class="breadcrumb-item">
        <a href="{% url 'board_topics' topic.board.pk %}">
            {{ topic.board.name }}
        </a>
    </li>
    <li class="breadcrumb-item active">{{ topic.subject }}</li>
{% endblock breadcrumb %}

{% block content %}
    {% for post in posts %}

        <div id="{{ post.pk }}" class="post">
            <h5 class="post-title mb-1 py-2">{{ topic.subject }}</h5>
            <div class="post-details d-flex w-100 justify-content-between py-2 mb-2">
                <small class="text-muted d-block">
                    Posted by: {{ post.created_by.username }}
                </small>
                <small class="text-muted d-block">
                    {{ post.created_at }}
                </small>
            </div>
            <div class="post-description">
                <p class="mb-1 mt-3">
                    {{ post.message }}
                </p>
            </div>
        </div>

        <div class="post__actions">
            <a 
                href="{% url 'reply_topic' topic.board.pk topic.pk %}" 
                class="btn btn-primary btn-sm mt-3">
                Reply
            </a>
            {% if post.created_by == user %}
                <a 
                    href="{% url 'edit_post' post.topic.board.pk post.topic.pk post.pk %}" 
                    class="btn btn-primary btn-sm ml-1 mt-3" 
                    role="button"
                >
                    Edit
                </a>
            {% endif %}
        </div>

        <hr>
    {% endfor %}

    {% include 'includes/pagination.html' %}
{% endblock content %}